body {
    color: #212121;
}

ul {
    list-style: none;
}

.logo {
    color: #2196F3;
}

.logo:hover {
    color: aqua;
}

/* Site nav */

span {
    color: #000000;
}

.site-nav .link {
    color: #212121;
}

.site-nav .link:hover {
    color: aqua;
}
/* Main */

.section-title {
    color: #212121;
}

/* основной цвет текста #212121*/

/* вторичный цвет теста #757575*/

/* белый цвет текста #FFFFFF*/

/* цвет синего текста в навигации #2196F3*/

/* акцент #2196F3*/

/* черный цвет лого #000000*/

/* белый цвет лого и текста в футере #FFFFFF*/

/* серый цвет текста в футере rgba(255, 255, 255, 0.6)*/

/* бэкграунд цвет #F5F5F5 */