/* основной цвет текста #212121*/
/* вторичный цвет теста #757575*/
/* цвет акцента #2196F3*/
/* белый цвет текста #FFFFFF*/
/* черный цвет лого #000000*/
/* серый цвет текста в футере rgba(255, 255, 255, 0.6)*/
/* бэкграунд цвет #F5F5F5 */
/* бэкграунд кнопок фильтра #F5F4FA*/

:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
}

body {
    background-color: #F5F5F5;
    color: var(--primary-text-color);
}

.list {
    list-style: none;
}

/* Logo */
.logo {
    color: var(--accent-color);
    text-decoration: none;
}

.studio {
    color: #000000;
}

.logo:hover,
.logo:focus {
    color: aqua;
    background-color: var(--secondary-text-color);
}

/* Site nav */
.site-nav .link {
    color: var(--primary-text-color);
    text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: aqua;
    background-color: var(--secondary-text-color);
}

.site-nav .current{
    color: var(--accent-color);
}

/* Contact nav */
.contact-nav .link {
    text-decoration: none;
}

.contact-nav .mail {
    color: var(--accent-color);
}

.contact-nav .tel {
    color: var(--secondary-text-color);
}

.contact-nav .link:hover,
.contact-nav .link:focus {
    color: aqua;
    background-color: var(--secondary-text-color);
}

/* Button */
.button {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
}

.button:hover,
.button:focus {
    color: aqua;
    background-color: var(--secondary-text-color);
}

/* Section */
.section-title {
    color: var(--primary-text-color);
}

/* Features */
.feature .title {
    color: var(--primary-text-color);
}
.feature-list .text {
    color: var(--secondary-text-color);
}

/* Filter */
.buttons .link {
    color: var(--primary-text-color);
    background-color: #F5F4FA;
}

.buttons .all {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
}